<div class=" row m-2">
  <div class="col-6">
    <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
      <div class="bg-danger text-white p-2 mb-2"
           *ngIf="formSubmitted && form.invalid">
        There are problems with the form
        <ul>
          <li *ngFor="let error of form.getFormValidationMessages(form)">{{error}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control"
               name="name"
               [(ngModel)]="newProduct.name"
               formControlName="name"/>
        <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || form.controls['name'].dirty) && form.controls['name'].invalid">
          <li *ngFor="let error of form.controls['name'].getValidationMessages()">
            {{error}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label>Category</label>
        <input class="form-control"
               name="name"
               [(ngModel)]="newProduct.category"
               formControlName="category">
        <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || form.controls['category'].dirty) && form.controls['category'].invalid ">
          <li *ngFor="let error of form.controls['category'].getValidationMessages()">
            {{error}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input class="form-control"
               name="name"
               [(ngModel)]="newProduct.price"
               formControlName="price">
        <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || form.controls['price'].dirty) && form.controls['price'].invalid ">
          <li *ngFor="let error of form.controls['price'].getValidationMessages()">{{error}}</li>
        </ul>
      </div>
      <button class="btn btn-primary" type="submit"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid">Create</button>
    </form>
  </div>
  <div class="col-6">
    <div class="form-group bg-info text-white p-2">
      <label>Name</label>
      <input class="bg-primary text-white"
             [(paModel)]="newProduct.name">
    </div>
    <table class="table table-sm table-bordered table-striped">
      <thead class="thead-dark">
        <tr><th></th><th>Name</th><th>Category</th><th>Price</th></tr>
      </thead>
     <tbody>
       <tr *ngFor="let item of getProducts(); let i = index"
           [appAttr]="getProducts().length < 6 ? 'bg-success': 'bg-warning'"
           [pa-product]="item" (pa-category)="newProduct.category=$event">
         <td>{{i + 1}}</td>
         <td>{{item.name}}</td>
         <td [appAttr]="item.category === 'Soccer' ? 'bg-info' : null">{{item.category}}</td>
         <td [appAttr]="'bg-info'">{{item.price}}</td>
       </tr>
     </tbody>
    </table>
  </div>
</div>
